apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration

discovery:
  file:
    kubeConfigPath: "/etc/kubernetes/bootstrap-kubelet.conf"

nodeRegistration:
  name: {{ inventory_hostname }}
  criSocket: unix:///var/run/crio/crio.sock
