[Unit]
Description=OverlayFS for /var
DefaultDependencies=no
Before=local-fs.target
After=initrd-root-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mkdir -p /run/overlay/var/{upper,work}
ExecStart=/usr/bin/mount -t overlay overlay-var \
    -o lowerdir=/var,upperdir=/run/overlay/var/upper,workdir=/run/overlay/var/work \
    /var

[Install]
WantedBy=local-fs.target
