global
    log /dev/log local0
    group haproxy
    user haproxy
    daemon

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend k8s-api
    bind {{ k8s_api_vip }}:6443
    default_backend k8s-masters

backend k8s-masters
    option httpchk GET /healthz
    http-check expect status 200
    balance roundrobin
    {% for host in groups['control_nodes'] %}
    server {{ host }} {{ hostvars[host].ansible_host }}:6443 check check-ssl verify none
    {% endfor %}

