apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  name: {{ inventory_hostname }}
  criSocket: unix:///var/run/crio/crio.sock
localAPIEndpoint:
  advertiseAddress: {{ hostvars[inventory_hostname].node_ip }}
  bindPort: 6443

---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
clusterName: msr-cluster
kubernetesVersion: v1.30.0
controlPlaneEndpoint: "msr-control-vip:6443"

networking:
  podSubnet: "10.244.0.0/16"

etcd:
  local:
    serverCertSANs:
      - {{ hostvars[inventory_hostname].node_ip }}
    peerCertSANs:
      - {{ hostvars[inventory_hostname].node_ip }}
    extraArgs:
      initial-cluster: >
        msrlv9mast01=https://10.0.0.11:2380,
        msrlv9mast02=https://10.0.0.12:2380,
        msrlv9mast03=https://10.0.0.13:2380
      initial-cluster-state: new
      initial-advertise-peer-urls: https://{{ hostvars[inventory_hostname].node_ip }}:2380
      listen-peer-urls: https://{{ hostvars[inventory_hostname].node_ip }}:2380
      listen-client-urls: https://{{ hostvars[inventory_hostname].node_ip }}:2379

controllerManager:
  extraArgs:
    bind-address: "0.0.0.0"

scheduler:
  extraArgs:
    bind-address: "0.0.0.0"
